version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: htm_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "5432:5432"
    volumes:
      - htm_dbvolume:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: htm_pgadmin
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    environment: 
      PGADMIN_DEFAULT_EMAIL:    "admin@default.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"

volumes:
  htm_dbvolume:






