package pages 

import (
    	"github.com/vixdang0x7d3/the-human-task-manager/internal/template"
)

templ Home() {
    @template.Boilerplate() {
        @template.Head()
        <body>
            <h1>Home ne</h1>
        </body>
    }
}