package pages

import "github.com/vixdang0x7d3/the-human-task-manager/internal/template"

templ tasklist() {
    @template.Boilerplate(){
        @template.Head("Task List")
        @template.Navbar()

    }
}