package components

templ TaskNewCustomError(msg string, descriptionErr, scheduleErr, tagsErr string) {
	@AlertError(msg)
	<div id="description-error" hx-swap-oob="outerHTML">{ descriptionErr }</div>
}
