package template

templ Boilerplate() {
	<!DOCTYPE html>
	<html lang="en" data-theme="retro">
		{ children... }
	</html>
}

templ Head() {
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>Hi mom</title>
		<link rel="stylesheet" href="/css/output.css"/>
		<script src="/js/htmx.min.js"></script>
		{ children... }
	</head>
}
